%script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"}
%link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css", :integrity => "sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B", :rel => "stylesheet"}/
%h1
 Bank Accounts

= link_to new_bank_account_path, class: "btn btn-primary" do 
 New Bank Account

%table.table.table-bordered
 %thread
  %tr 
   %th Account Number
   %th Client
   %th Balance
   %th Actions
 %tbody
  - @bank_accounts.each do |bank_account|
   %tr 
    %td #{bank_account.account_number}
    %td
     = link_to client_path(bank_account.id) do
      #{bank_account.client}
    %td #{number_to_currency(bank_account.balance, unit: "$")}
    %td
     = link_to bank_account_path(bank_account.id), class: "btn btn-primary" do
      Show

